$font: "Lato", "Arial", sans-serif;
$font-alt: "Roboto", "Arial", sans-serif;
$font-var: "Korataki", "Arial", sans-serif;
$font-var-number: "Inter", "Arial", sans-serif;
$base-dark: #231815;
$base-light: #ffffff;
$base-alt: #e45302;
$base-alt-light: #e8e8e8;
$base-alt-dark: #808080;
$bg: #0c0c0c;
$min-width-mobile: 390px;
$min-width-tablet: 768px;
$min-width-desktop: 1600px;
$min-width-desktop-max: 1920px;
